RewriteEngine On 

# redirect www to non www
RewriteBase /
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

# force https
#RewriteCond %{HTTPS} !=on 
#RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]

# change the default web_root to demanda.pt
RewriteCond %{HTTP_HOST} ^demanda.pt$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.demanda.pt$
RewriteCond %{REQUEST_URI} !demanda.pt/
RewriteRule (.*) /demanda.pt/$1 [L]

# error page
ErrorDocument 404 /404.html