{{ define "main" }}

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="page-heading" style="text-align: center;">

        <h1>Pesquisa</h1>
        <hr class="small">
        <form>
          <input id="search-query" name="s" 
          placeholder="Termo ou frase" style="border: 1px solid black;padding: 0.3em"/>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="container" role="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <article role="main" class="blog-post">
        <div id="search-results">
      </article>
    </div>
  </div>
</div>

<!-- this template is sucked in by search.js and appended to the search-results div above. So editing here will adjust style -->
<script id="search-result-template" type="text/x-js-template">
    <div id="summary-${key}">
      <article class="post-preview">
        <a href="${link}"><h2 class="post-title">${title}</h2></a>
        <div class="post-entry"><p>${snippet}</p></div>

        ${ isset tags }<div class="blog-tags"> ${tags} </div> ${ end }
        
        <div style="display: none;">
        ${ isset categories }<p>Categorias: ${categories}</p>${ end }
        </div>
      </article>
    </div>
</script>
{{ end }}